<!DOCTYPE html>
<html class="content">
    <head>
        <title>
            Awodein Jesutofunmi
        </title>
        <link rel="stylesheet" href="src/pages/style.css">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">


    </head>
    <body>
        <header>
            <div>
                <img class="header-logo" src="header-logo.png" alt="a logo of the cavemen">
            </div>
            <ul class="navlinks">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/tour">Tour</a></li>
                <li><a href="/playlist">Playlist</a></li>
            </ul>
        </header>

        <main>
            
            <div class="about">

                <div class="about-text">
                    <h2>The Cavemen (stylized as The Cavemen.) are a Nigerian highlife band consisting of sibling duo Kingsley Okorie, a bassist, and Benjamin James, a drummer. 
                        They were brought to the limelight by Lady Donli and are known for their live performances.
                        They won the 2020 Headies Award for the Best Alternative Album. <br><br>The Cavemen were officially formed in March 2018
                        and they stylised their band name with a dot to avoid lawsuits from a New-Zealand artiste with the trademarked name. </h2>
                 </div>

                <img class="about-picture" src="about-image.jpg" alt="a picture of the cavemen">
                
            </div>

            <div class="more-about">

                <img class="more-about-picture" src="about-1.jpg" alt="a picture of the cavemen">

                <img class="more-about-picture" src="about-2.jpg" alt="a picture of the cavemen">

                <img class="more-about-picture" src="about-3.jpg" alt="a picture of the cavemen">

                <img class="more-about-picture" src="about-4.jpg" alt="a picture of the cavemen">
                
            </div>





        </main>


     

        <footer>
            <div class="footer-text">
                <p>Jesutofunmi</p>
                <p>3137211</p>
            </div>
            <img class="footer-logo" src="footer-logo.png" alt="a logo of the cavemen">
        </footer>
        
        
    </body>
</html>