<!DOCTYPE html>
<html class="content">
    <head>
        <title>
            Awodein Jesutofunmi - 3137211
        </title>
        <link rel="stylesheet" href="src/pages/style.css">



        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">




    </head>
    <body>
        <header>
            <div>
                <img class="header-logo" src="header-logo.png" alt="a logo of the cavemen">
            </div>
            <ul class="navlinks">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/tour">Tour</a></li>
                <li><a href="/playlist">Playlist</a></li>
            </ul>
        </header>

        <main>
            

            <div class="personal-profile">
                <div class="profile-text">
                    <h2>Welcome to <br>the Cave.</h2> 
                    <p>Jam with us and stay cavvy.</p>
                 </div>
            </div>
        </main>


     

        <footer>
            <div class="footer-text">
                <p>Jesutofunmi</p>
                <p>3137211</p>
            </div>
            <img class="footer-logo" src="footer-logo.png" alt="a logo of the cavemen">
        </footer>
        
        
    </body>
</html>