---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<h1>My head ooo, My belle oo</h1>

		<p>What are the parts of my body? <br></p>
		<ul>
			<li>My Head</li>
			<li>My Shoulders</li>
			<li>My Knees</li>
			<li>My Toes</li>
			<img src="src/pages/BodyParts.jpg" alt="An Illustration showing labelled parts of the human body">
			<p>For some reason my images are not loading</p>
		</ul>

	</body>
</html>
