<!DOCTYPE html>
<html class="content">
    <head>
        <title>
            Awodein Jesutofunmi
        </title>
        <link rel="stylesheet" href="src/pages/style.css">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">


        <script is:inline src="/script.js"></script>

    </head>
    <body>
        <header>
            <div>
                <img class="header-logo" src="header-logo.png" alt="a logo of the cavemen">
            </div>
            <ul class="navlinks">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/tour">Tour</a></li>
                <li><a href="/playlist">Playlist</a></li>
            </ul>
        </header>


        <div class="playlist-buttons">


        <div>
          <input id="inputsong">
          <button onclick="addnew()">
            Add Fav. Track
          </button>
        </div>

          <button onclick="shuffle()">
            Shuffle Playlist
          </button>

        </div>
  

        <main id="container" class="main-playlist">

            <div id="addnewsong" class="playlist-row">
                <img src="musical_note.png" alt="an emoji of a musical note">
                <h4 id="song" class="song-title">Teach me how to love</h4>
            </div>


            <div class="playlist-row">
                <img src="musical_note.png" alt="an emoji of a musical note">
                <h4 class="song-title">Adaugo</h4>
            </div>


            <div class="playlist-row">
                <img src="musical_note.png" alt="an emoji of a musical note">
                <h4 class="song-title">Who no know go know</h4>
            </div>


            <div class="playlist-row">
                <img src="musical_note.png" alt="an emoji of a musical note">
                <h4 class="song-title">Osondu</h4>
            </div>



            
        </main>


     

        <footer>
            <div class="footer-text">
                <p>Jesutofunmi</p>
                <p>3137211</p>
            </div>
            <img class="footer-logo" src="footer-logo.png" alt="a logo of the cavemen">
        </footer>
        
        
    </body>
</html>