<!DOCTYPE html>
<html class="content">
    <head>
        <title>
            Awodein Jesutofunmi
        </title>
        <link rel="stylesheet" href="src/pages/style.css">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">


    </head>
    <body>
        <header>
            <div>
                <img class="header-logo" src="header-logo.png" alt="a logo of the cavemen">
            </div>
            <ul class="navlinks">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/tour">Tour</a></li>
                <li><a href="/playlist">Playlist</a></li>
            </ul>
        </header>

        <main>

            <h1 style="font-family: 'DM Serif Display', Georgia, 'Times New Roman', Times, serif; font-size: 2.2rem; line-height: 0rem;
            padding-bottom: 2rem;" >See Our Upcoming Tour Dates</h1>

            <div class="main-tour">

            <section>
                <a href="/Posts/post1"><img src="tour-images-01.png" alt="tour-image-1"></a>
                <h2>The Masquerade - Atlanta</h2>
                <p> Apr 24 - Thu 19:00 2025</p>
            </section>

            
            <section>
                <a href="/Posts/post2"><img src="tour-images-02.png" alt="tour-image-2"></a>
                <h2>The Fillmore - Silver Spring</h2>
                <p> Apr 25 - Sat 20:00 2025</p>
            </section>

            <section>
                <a href="/Posts/post3"><img src="tour-images-03.png" alt="tour-image-3"></a>
                <h2>Underground Arts - Philadelphia</h2>
                <p> Apr 27 - Sun 20:00 2025</p>
            </section>

             </div>



             <div class="main-tour">
    
                <section>
                    <a href="/Posts/post4"><img src="tour-images-04.png" alt="tour-image-4"></a>
                    <h2>Irving Plaza - New York</h2>
                    <p> Apr 29 - Tue 19:00 2025</p>
                </section>
    
                <section>
                    <a href="/Posts/post5"><img src="tour-images-05.png" alt="tour-image-5"></a>
                    <h2>Brighton Music Hall - Boston</h2>
                    <p> Apr 30 - Wed 19:00 2025</p>
                </section>
    
                <section>
                    <a href="/Posts/post6"><img src="tour-images-06.png" alt="tour-image-6"></a>
                    <h2>The Opera House - Toronto</h2>
                    <p> May 4 - Sun 19:00 2025</p>
                </section>
    
                 </div>





        </main>


     

        <footer>
            <div class="footer-text">
                <p>Jesutofunmi</p>
                <p>3137211</p>
            </div>
            <img class="footer-logo" src="footer-logo.png" alt="a logo of the cavemen">
        </footer>
        
        
    </body>
</html>