<!DOCTYPE html>
<html class="content">
    <head>
        <title>
            Awodein Jesutofunmi
        </title>
        <link rel="stylesheet" href="src/pages/style.css">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">


    </head>
    <body>
        <header>
            <div>
                <img class="header-logo" src="header-logo.png" alt="a logo of the cavemen">
            </div>
            <ul class="navlinks">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/tour">Tour</a></li>
                <li><a href="/playlist">Playlist</a></li>
            </ul>
        </header>

        <main class="main-tour">

            <section>
                <a href="/Posts/post1"><img src="bearded_person.png" alt="an emoji of a bearded person"></a>
                <h2>5 Things About Me</h2>
                <ul>
                <li>I love eating fried plantain</li>
                <li> I enjoy walking and discovering new routes</li>
                <li>I listen to a weird range of music</li>
                <li>I know unnecessary device tech specs</li>
                <li>I am Nigerian, sometimes proud of it, sometimes not</li>
                </ul>
            </section>
            
            <section>
                <img src="clapper.png" alt="an emoji of a bearded person">
                <h2>5 Favourite Films</h2>
                <ul>
                <li>Eternal sunshine of a spotless mind</li>
                <li>V for Vendetta</li>
                <li>Joy</li>
                <li>The secret life of Walter Mitty</li>
                <li>The Grand Budapest Hotel</li>
                </ul>
            </section>

            <section>
                <img src="computer.png" alt="an emoji of a bearded person">
                <h2>5 Favourite Websites</h2>
                <ul>
                <li><a href="https://www.youtube.com/">Youtube</a></li>
                <li><a href="https://www.gsmarena.com/">GSMArena</a></li>
                <li><a href="https://www.freepik.com/">Freepik</a></li>
                <li><a href="https://mobbin.com/browse/ios/apps">Mobbin</a></li>
                <li><a href="https://www.awwwards.com/">Awwwards</a></li>
                </ul>
            </section>
        </main>


     

        <footer>
            <div class="footer-text">
                <p>Jesutofunmi</p>
                <p>3137211</p>
            </div>
            <img class="footer-logo" src="footer-logo.png" alt="a logo of the cavemen">
        </footer>
        
        
    </body>
</html>